apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: swath
  name: swath
  namespace: swath
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swath
  template:
    metadata:
      labels:
        app: swath
    spec:
      containers:
      - image: northamerica-northeast2-docker.pkg.dev/agile-tangent-401105/container-registry/swath:0.1.5
        name: swath